<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About the Developer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body{
                
            }
        </style>
    </head>
    <body>
        <dev>
        <h3>Name: Vishal Ahirwar<br><p>C/C++ Software Developer but I also love Python's Django Framework,<br>So I'm learning Django</p></h1>
        <h3><a href="https://github.com/vishal-ahirwar">Github Profile</a></h3>
        <h3><a href="https://www.linkedin.com/in/vishalahirwar/">LinkedIn Profile</a></h3>
        <h1><a href='{% url 'home' %}'>Go To Home Page</a></h1>
        </div>
    </body>
</html>